/QOMobile/src/proxy/*.class
/GUI/dist/
/ServidorCentral/nbproject/private/
/GUI/nbproject/private/
/nbproject/private/
/ServidorCentral/build/
/GUI/build/
/ServidorCentral/dist/
/build/
/dist/
/pruebas/nbproject/private/
/pruebas/build/
/QOMobile/dist/
/nbproject/
/GUI/catalog.xml
/GUI/nbproject/jax-ws.xml
/QOMobile/build/
/QOMobile/c:\\Users\Mathi\bd\prueba
/QOMobile/nbproject/private/
/Source Package/proxy/*.class
