.ulhorizontal li {
    background: #FFFFFF;
    padding: 3px;
    overflow: auto;
    clear: both;
    margin: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.imagenResto{
	width:150px;
	height:150px;
	margin:5px;
	position:relative;
	float:left;
	
}

.infoResto{
	padding:10px;
}

.nombreResto{
    color: #2ba6cb;
    text-decoration: none;
    line-height: inherit;}
	
.buscarRestaurante{
	width: 100%;
    heigth: 200px;
    position: relative;
	float: left;
    margin: 10px;
	}

.inputRestaurante{
	width: 350px !important;
}

.footer{
	background-color: #6a96b0;
	color: white;
	height: 150px;
	padding: 20px;
	text-align:right;
}

.contenedorMenu{
    background-color: white;
    height: auto;
    border-top: 0px !important;
    width: 100%;
    border: solid 1px #ddd;
    position:relative;
    float:left;
}

#categorias {
    overflow: hidden;
    margin: 0 0 2em;
	padding: 5px;
        position:relative;
    float:left;
}
#categorias a{	
	list-style-type: none;	
	padding:5px;
	text-decoration:none;
	color:black;
}
#categorias a.producto:nth-child(odd) {
    margin: 0px 5px 0px 5px;
}

#categorias a.producto {
    cursor: pointer;
}
#categorias a.producto:hover {
    background-color: #e7f0f6;
}

#categorias a.producto {
    width: 49%;
	min-height:50px;
    float: left;
    padding: .8em;
    margin: 0px;
    position: relative;
	background-color: #f6f6f6;
    border: 1px solid #fff;
    box-shadow: 0 2px 0 -1px rgba(230, 230, 230, 0.6);
    -webkit-box-shadow: 0 2px 0 -1px rgba(230, 230, 230, 0.6);
    -moz-box-shadow: 0 2px 0 -1px rgba(230, 230, 230, 0.6);
    border-radius: 4px;
    padding: 5px;
	}

.cantidad{
	margin-top: 10px;
    float: left;
    width: 65px;
	}
	
.derecha{
float:right;
margin-top: 10px;
}

h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif }
 
address {
    margin-top: 2em;
    padding-top: 1em;
    border-top: thin dotted }


.ec-stars-wrapper {
	/* Espacio entre los inline-block (los hijos, los `a`) 
	   http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
	font-size: 0;
	display: inline-block;
}
.ec-stars-wrapper a {
	text-decoration: none;
	display: inline-block;
	/* Volver a dar tamaño al texto */
	font-size: 32px;
	font-size: 2rem;
	
	color: yellow;
}

.ec-stars-wrapper:hover a {
	color: rgb(39, 10, 228);
}
/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */
.ec-stars-wrapper > a:hover ~ a {
	color: orange;
}

.reliceInicio{
    color: white;
    font-size: 12px;
    text-align: right;
}

#total{
    border-top: 1px dotted !important;
    padding: 10px;
    font-size: large;
    text-align: right;
}
.fullprice{
    font-weight:bold;
}